<div class="container">
    <h1>{{ titulo }} detalle</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputNombre">Nombre:</label>

            <div class="controls">
            	{{ objeto.nombre }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDescripcion">Descripcion:</label>

            <div class="controls">
            	{{ objeto.descripcion }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputURL">URL:</label>

            <div class="controls">
            	{{ objeto.url }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">Cancelar</a>
                <a ng-click="updateForm(objeto.id)" class="btn btn-small btn-primary">Editar</a>
                <a ng-click="delete(objeto.id)" class="btn btn-small btn-danger">Eliminar</a>
            </div>
        </div>
    </form>
</div>