<div class="container">
    <h1>Portal Alta</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputNombre">Nombre:</label>

            <div class="controls">
                <input type="text" id="inputNombre" ng-model="modulo.nombre" placeholder="Nombre"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDescripcion">Descripcion:</label>

            <div class="controls">
                <input type="text" id="inputDescripcion" ng-model="modulo.descripcion" placeholder="Descripcion"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">Cancelar</a>
                <a ng-click="create()" class="btn btn-small btn-primary">Guardar</a>
            </div>
        </div>
    </form>
</div>
