<div class="container">
    <h1>Parametro Alta</h1>

    <form novalidate="novalidate" class="form-horizontal">
    	<div class="control-group">
            <label class="control-label" for="inputGrupo">Grupo:</label>

            <div class="controls">
                <input type="text" id="inputGrupo" ng-model="parametro.grupo" placeholder="Grupo"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputNombre">Nombre:</label>

            <div class="controls">
                <input type="text" id="inputNombre" ng-model="parametro.nombre" placeholder="Nombre"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputValor">Valor:</label>

            <div class="controls">
                <input type="text" id="inputValor" ng-model="parametro.valor" placeholder="Valor"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputDescripcion">Descripcion:</label>

            <div class="controls">
                <input type="text" id="inputDescripcion" ng-model="parametro.descripcion" placeholder="Descripcion"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small">Cancelar</a>
                <a ng-click="create()" class="btn btn-small btn-primary">Guardar</a>
            </div>
        </div>
    </form>
</div>
