<div class="container">
	<div ng-show="error" class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<p>{{ error }}</p>
	</div>

	<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
	 		<div class="modal-content">
		 		<div class="modal-header">
		 			<h4 class="modal-title" id="myModalLabel">{{ tituloModal }}</h4>
		 		</div>
		 		<div class="modal-body">
		 			<form novalidate="novalidate" class="form-horizontal" role="form">
				        <div class="form-group">
				            <label class="col-sm-2 control-label" for="inputNombre">Nombre:</label>
				
				            <div class="col-sm-10" ng-show="modoEditable">
				            	<input type="text" data-ng-model="registro.nombre" class="form-control" id="title" placeholder="Nombre Portal" required title="Obligatorio" />
				            </div>
				            <div class="col-sm-10" ng-show="!modoEditable">
				            	{{ registro.nombre }}
				            </div>
				        </div>
				        <div class="form-group">
				            <label class="col-sm-2 control-label" for="inputDescripcion">Descripcion:</label>
				
				            <div class="col-sm-10" ng-show="modoEditable">
				            	<input type="text" data-ng-model="registro.descripcion" class="form-control" id="title" placeholder="Descripcion Portal" required title="Obligatorio" />
				            </div>
				            <div class="col-sm-10" ng-show="!modoEditable">
				            	{{ registro.descripcion }}
				            </div>
				        </div>
				        <div class="form-group">
				            <label class="col-sm-2 control-label" for="inputUrl">URL:</label>
				
				            <div class="col-sm-10" ng-show="modoEditable">
				            	<input type="text" data-ng-model="registro.url" class="form-control" id="title" placeholder="Url Portal" required title="Obligatorio" />
				            </div>
				            <div class="col-sm-10" ng-show="!modoEditable">
				            	{{ registro.url }}
				            </div>
				        </div>
				        <div class="form-group">
				            <div class="col-sm-offset-2 col-sm-10">
				                <input value="Cancelar" data-ng-click="clear()" type="button" class="btn btn-small" data-dismiss="modal"/>
			                	<input value="Guardar" data-ng-click="save()" type="submit" class="btn btn-small btn-primary" ng-show="modoEditable"/>
			                	<!-- input value="Editar" data-ng-click="updateForm({id:registro.id})" type="button" class="btn btn-small btn-primary" ng-show="!modoEditable"/ -->
			                	
			                	<input value="Parametros" data-ng-click="showParametros()" type="button" class="btn btn-info btn-sm" ng-show="!modoEditable"/>
			                	<input value="Modulos" data-ng-click="showModulos()" type="button" class="btn btn-info btn-sm" ng-show="!modoEditable"/>
			                	<input value="Perfiles" data-ng-click="showPerfiles()" type="button" class="btn btn-info btn-sm" ng-show="!modoEditable"/>
				            </div>
				        </div>
				    </form>
		 		</div>
		 	</div>
		 </div>
	</div>
	
	<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                        <h4 class="modal-title" id="myModalLabel">Confirmar Accion</h4>
                    </div>
                    <div class="modal-body">
                        Est&aacute;s seguro que quieres eliminar el registro?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-ng-click="delete()">Ok</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

	<h1>{{ tituloBase }}</h1>
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">Nombre</th>
            <th style="min-width: 80px;">Descripcion</th>
            <th style="width:20px;">&nbsp;</th>
            <th style="width:20px;">&nbsp;</th>
            <th style="width:20px;">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="objeto in lista">
            <td>{{ objeto.nombre }}</td>
            <td>{{ objeto.descripcion }}</td>
            <td><a ng-click="showForm({id:objeto.id})" class="btn btn-info btn-sm">Mostrar</a></td>
            <td><a ng-click="updateForm({id:objeto.id})" class="btn btn-primary btn-sm">Editar</a></td>
            <td><a ng-click="showconfirm({id:objeto.id})" class="btn btn-danger btn-sm">Eliminar</a></td>
        </tr>
        </tbody>
    </table>
    <a ng-click="createForm()" class="btn btn-small btn-primary">Nuevo</a>

    <div ng-include src="'portales/configuracion/administracion/portal/modalParametrosForm.html'"></div>
	<div ng-include src="'portales/configuracion/administracion/portal/modalModulosForm.html'"></div>
	<div ng-include src="'portales/configuracion/administracion/portal/modalPerfilesForm.html'"></div>
</div>